@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.18);
}

body {
  font-family: "Open Sans", sans-serif;
  background: #eaeaea;
}

/* YOUR CODE HERE */
.hero {
  background-image: url("https://source.unsplash.com/1000x1000/?gras");
  min-height: 400px;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.hero h1 {
  font-size: 5em;
}
.hero h2 {
  font-size: 3em;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

/* Cards */
section {
  background: white;
  margin: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section .text {
  padding: 4em;
}
section .text h2 {
  font-size: 35px;
  text-transform: capitalize;
  line-height: 1.2em;
  letter-spacing: 0px;
  position: relative;
  margin-bottom: 1.5em;
}
section .text h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2em;
  border-top-style: solid;
  border-top-width: 3px;
  border-top-color: #23a455;
  width: 10%;
}
section .text p {
  color: #666666;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6em;
}
section .image {
  background: url("https://source.unsplash.com/1000x1000/?sun") no-repeat 50% 50%;
  background-size: cover;
}

/* Button */

section .text a.btn {
  margin-top: 1em;
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border-radius: 50px 50px 50px 50px;
  padding: 13px 30px 13px 30px;
  display: inline-block;
  line-height: 1;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
}

/* Cards alt */

section:nth-child(even) .text {
  order: 2;
}
section:nth-child(even) .image {
  order: 1;
}


@media screen and (max-width: 800px){
	section{
		display: block;
  }
  section .image{
    min-height: 50vh;
  }
}