@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.18);
}

body {
  font-family: "Open Sans", sans-serif;
  background: #eaeaea;
}

/* YOUR CODE HERE */